tensorflow
numpy
requests
matplotlib
tensorflow_hub
scikit-image
azureml-core
azureml-dataprep
ipython
ipykernel
joblib
imgbeddings
umap-learn
umap-learn[plot]
#Run this file with - pip3 install -r requirements.txt